{% extends "layout.html" %}
{% block title %}Create New Bank Account{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3">Create New Bank Account</div>
    <form method="POST"class="form-group mb-3">
        {{ form.hidden_tag() }}
        {{render_field(form.accountNo)}}
        <label for="accountType">Account Type</label></br>
        <select id="accountType" name="accountType"class="form-group mb-3">
            <option value="Checking">Checking</option>
            <option value="Savings">Savings</option>
            <option value="Current">Current</option>
        </select></br></br>
        {{render_field(form.initialDeposit)}}
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}