{% extends "layout.html" %}
{% block title %}List Account Transaction History{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Welcome {{username}}</h1>
    </br></br>
    <h3>Account No:- {{account}}</h3>
    <h3>Balance:- ${{balance}}</h3>
    <div class="h1 text-center">Transaction History</div>

    <div class="table-responsive">
    <table class="table">
        {% if rows and rows|length > 0 %}
        <thead>
            <tr class="text-capitalize">
                {# generate th tags for each column to display #}
                {# IMPORTANT use table column names as the headings, replace _ with space #}
                {% for r in rows[0] %}
                <th>{{r}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
        <tr>
            {% for v in r.values() %}
            <td>{{v}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td colspan="100%">No results to show</td>
            </tr>
        </tbody>
        {% endif %}
    </table>
    </div>
</div>
{% endblock %}