{% extends "layout.html" %}
{% block title %}Transfer Money{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h2">Internal Transfer</div>
    <form method="POST"class="form-group mb-3">
        {{ form.hidden_tag() }}
        <label for="srcAccountNo">From Account No</label></br>
        <select id="srcAccountNo" name="srcAccountNo"class="form-group mb-3">
            {% for a in accounts %}
            <option value='{{a}}'>{{a}}</option>
            {% endfor %}
        </select></br></br>
        {{render_field(form.destAccountNo)}}
        {{render_field(form.amount)}}
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}